# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
/.htaccess
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
temp
bbstates
bbstates_2017
dds
dds-eohhs
dds-eohis
DisabilityResources
dmr 
DMRDataUpload
DMRJobPlacement
download
MDDADataUpload_old
movies
providersearch
